### SDSC

In [ ]:
# Importing libraries
import numpy as np 
import pandas as pd 
import os
import sys
from pyspark.sql import SparkSession
os.environ["PYSPARK_PYTHON"] = sys.executable
os.environ["PYSPARK_DRIVER_PYTHON"] = sys.executable

from pyspark.sql import SparkSession

# SDSC limits: 128 executors, 250 GB memory
# This config is for 30 cores, 240 GB memory:
spark = SparkSession.builder \
    .config("spark.driver.memory", "8g") \
    .config("spark.executor.memory", "8g")\
    .config('spark.executor.instances', 29) \
    .getOrCreate()

### Local

In [2]:
import numpy as np
import pandas as pd
import os
import sys

os.environ["PYSPARK_PYTHON"] = sys.executable
os.environ["PYSPARK_DRIVER_PYTHON"] = sys.executable

In [6]:
# load pickle file US_1000.pkl
df = pd.read_pickle('US_1000.pkl')

print(len(df))

72993

In [4]:
df.head()

,location_id,sensors_id,location,datetime,lat,lon,parameter,units,value
0,1000,1803,Presque Isle Riversi-1000,2022-11-06 05:00:00,46.682299,-68.016195,pm10,µg/m³,11.000000
1,1000,1803,Presque Isle Riversi-1000,2022-11-06 06:00:00,46.682299,-68.016195,pm10,µg/m³,10.000000
2,1000,1803,Presque Isle Riversi-1000,2022-11-06 07:00:00,46.682299,-68.016195,pm10,µg/m³,16.000000
3,1000,1803,Presque Isle Riversi-1000,2022-11-06 09:00:00,46.682299,-68.016195,pm10,µg/m³,13.000000
4,1000,1803,Presque Isle Riversi-1000,2022-11-06 09:00:00,46.682299,-68.016195,pm10,µg/m³,12.000000

In [11]:
# get unique parameter
df.parameter.unique()

array(['pm10', 'pm25', '-68.016195'], dtype=object)